h1, h2, h3, h4 {
    color: yellow;
}

p {
    color: green;
    background-color: black;
}
 /*comentário CSS*/
#titulos {
    color: blue;
    background-color: chocolate;
    padding: 50px;
    border-top: 80px;
    border: 10px dotted green;
    border-radius: 50%;
    margin: 50px 20px 8px 30px;
}